.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ecca3;
}

h2 {
  font-size: 2rem;
  color: #4ecca3;
  font-family: 'Indie Flower', cursive;
}

p {
  font-size: 1.5rem;
  color: #4ecca3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.button {
  margin: 20px;
  background-color: #4ecca3;
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  color: #393e46;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  padding: 15px 32px;
  border: solid;
  border-radius: 10px;
}

.scoreContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.score {
  color: black;
  background-color: red;
  font-size: 2.1rem;
  text-align: center;
  padding: 15px 32px;
  border: none;
  border-radius: 10px;
}
